# Python
__pycache__/
*.py[cod]
*.egg-info/

# Virtual envs
.venv/
venv/
env/

# Сборки
build/
dist/
*.spec
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies

# Данные приложения и логи
data.json
*.log

# Личные тестовые данные
Test shed/

# OS
Thumbs.db
.DS_Store
desktop.ini
